*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: row;
}

nav section.flex{
    height: 50px;
}

header{
    height: 100px;
    background-color: #add8e6;
}

.bg-color{
    background-color: #daa520;
}

.border{
    border-style: dashed;
}

div ul.flex{
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
}

.logo{
    align-items: flex-start;
    padding-right: 30%;
}

.login{
    align-items: flex-end;
    padding-left: 30%;
}

.margin{
    margin: 20px 28%;
}

.blue-sect{
    background-color: #00008b;
    height: 500px;
    justify-content: center;
    border-bottom: 5px solid #b1dde8;
}

.container{
    width: 40%;
    height: 70%;
    background-color: #ee82ee;
    margin-top: 70px;
}